
<div class="App">
  <textarea class="textarea-chart-component col-md-6 text-center border-0 form-control blockquote" value={{title}}></textarea><br/>
  <div class="row mb-5">
    <div class="col-md-6 pr-4">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions">
      </highcharts-chart>
    </div>
    <div className="col-md-6">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2">
      </highcharts-chart>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-9">
      <table class="table table-striped table-bordered table-dark p-5">
        <tbody>
          <tr *ngFor="let x of data">
            <td><b>{{x.name}}</b></td>
            <td *ngFor="let y of x.data">{{y}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>